@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
.banner{
    height: 100vh;
    background-image: url(../imagenes/banner.jpg);
    background-size: cover;
    background-position: center;
}
/* Home */
.content{
    text-align: center;
}
.sub-titulo{
    font-size: 36px;
    color: white;
    font-family: open Sans;
    font-weight: 400;
    text-shadow: 3px 3px black;
    text-align: center;
}
.titulo{
    font-size: 48px;
    color: #52DFDA;
    font-family: open Sans;
    font-weight: 400;
    text-shadow: 3px 3px black;
    text-align: center;
}

/* Section */
#perfil{
    background-color: #191818;
    width: 100%;
    height: 850px;
}
.titulo-about{
    padding: 50px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: open Sans;
    font-weight: 700, bold;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,10fr);
    grid-template-areas:
    'perfil-foto sobre-mi sobre-mi'
    'perfil-foto sobre-mi sobre-mi'
    'perfil-foto contacto-redes contacto-redes';
}
.perfil-foto{
    height: 612px;
    width: 470px;
    border: 3px solid #52DFDA;
    margin: 0px 0px 0px 25%;
    grid-area: perfil-foto;
    margin-left: 3%;
}
.sobre-mi{
    color: white;
    font-size: 23px;
    font-family: 'Lato', sans-serif;
    font-weight: 400 regular;
    grid-area: sobre-mi;
    width: 80%;
    margin: 0px 0px 0px -15%;
}
.contacto-redes{
    margin: 0px 9% 0px -15%;
}
.contacto-redes img{
    grid-area: contacto-redes;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 20%;
    background-color: white;
    width: 50px;
    height: 50px;
}

/* Skills */
#skills{
    background-color: black;
    width: 100%;
    height: 260px;
}
.titulo-skills{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: white;
    font-family: open Sans;
    font-weight: 700, bold;
}
.logos-skills{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.logos-skills img{
    width: 100px;
    height: 100px;
}

/* Portfolio */
#portfolio{
    margin: auto;
    background-color: red;
    width: 300px;
    height: 300px;
}

/* Footer */
#footer{
    background-color: #191818;
    width: 100%;
    height: 450px;
    color: white;
}
.footer-flex{
    display: flex;
    justify-content: space-around;
}
#contacto-icons{
    color: white;
    margin: 0 10px;
}
.titulo-contactos{
    font-family: open Sans;
    font-weight: 400;
    text-decoration: underline #52DFDA;
}
#footer p{
    font-family: open Sans;
    font-size: 20px;
}

.copyright{
    background-color: black;
    color: white;
    font-family: open Sans;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}
.logo-wsp{
    position: fixed;
    right: 1px;
    bottom: 1px;
    width: 80px;
    height: 80px;
}
